.hero{
	width:100%;
	display:flex;
	flex-flow: wrap;
	flex-direction: column;
	height:100vh;
	position:relative;
	top:-30px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px !important;
	overflow: hidden;
	background-color:#696969 !important;
}

@media(max-width:786px){
	.hero{
		height:50vh !important;
	}
}

.hero-content-alignment--top-left{
	justify-content: flex-start;
	align-items: flex-start;
}
.hero-content-alignment--top-center{
	justify-content: center;
	align-items: flex-start;
}
.hero-content-alignment--top-right{
	justify-content: flex-end;
	align-items: flex-start;
}
.hero-content-alignment--center-left{
	justify-content: flex-start;
	align-items: center;
}
.hero-content-alignment--center-center{
	justify-content:center;
	align-items: center;
}
.hero-content-alignment--center-right{
	justify-content: flex-end;
	align-items: center;
}
.hero-content-alignment--bottom-left{
	justify-content: flex-start;
	align-items: flex-end;
}
.hero-content-alignment--bottom-center{
	justify-content: center;
	align-items: flex-end;
}
.hero-content-alignment--bottom-right{
	justify-content: flex-end;
	align-items:flex-end;
}
