.navbar{
    width:100% !important;
    border-radius: 0px;
}

.navbar-brand, .navbar-nav li a{
    color:#000000 !important;
    font-size:18px;
}

.navbar-brand{
    font-size: 24px;
}


.navbar-nav li a:hover{
    background:none;
    text-decoration: underline;
}

.dropdown-toggle:hover .dropdown-menu{
	display: inline-block;
}
